/* page structure */
.chat-section {
    max-width: 800px;
    margin-inline: auto;
}

.chat-section .main-title {
    text-align: center;
}

.messages-container {
    height: 500px;
    border: 1px solid var(--pink-primary);
    border-radius: 4px;
    padding: 8px;
    overflow-y: auto;
}

.chat__input-group {
    display: flex;
}

#message {
    width: 100%;
    resize: none;
    outline: none;
}

/* messages */
.chat-message {
    position: relative;
    padding-left: 16px;
}

.chat__username {
    color: var(--pink-primary);
    font-weight: 600;
}

.chat-message::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 99px;
    margin-right: 32px;
}

.chat-connection {
    /*  */
}

.chat-connection::before {
    background: var(--success);
}

.chat-logout::before {
    background: var(--danger);
}
