/* general */
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;
}

.main-title {
    grid-column: span 2;
    text-align: center;
}

.section-title {
    text-align: center;
}

@media screen and (max-width: 1000px) {
    main {
        grid-template-columns: 1fr;
    }

    .main-title {
        grid-column: 1;
    }
}

/* chat section */
.chat-section {
    /* max-width: 800px;
    width: 100%; */
    /* margin-inline: auto; */
}

.chat-section .main-title {
    text-align: center;
}

.messages-container {
    height: 500px;
    border: 1px solid var(--pink-primary);
    border-radius: 4px;
    padding: 8px;
    overflow-y: auto;
    cursor: default;
}

.chat__input-group {
    display: flex;
}

#message {
    width: 100%;
    resize: none;
    outline: none;
}

/* user list */
.connected-users-section {
    padding: 16px;
    border: 1px solid var(--pink-primary);
    border-radius: 4px;
    height: fit-content;
}

.connected-users-list {
    list-style-type: none;
}

/* messages */
.chat-message {
    position: relative;
    border-radius: 4px;
}

.chat-message::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background: var(--grey-dark);
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.chat-message:hover::after {
    opacity: 0.75;
}

.chat-event {
    position: relative;
    padding-left: 16px;
}

.chat__username {
    font-family: var(--ff-code);
    font-weight: 600;
}

.chat-message::before {
    /*  */
}

.chat-event::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 99px;
    margin-right: 32px;
}

.chat-connection {
    /*  */
}

.chat-connection::before {
    background: var(--success);
}

.chat-logout::before {
    background: var(--danger);
}
