.overlay {
    position: absolute;
    backdrop-filter: blur(4px);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.overlay--active {
    display: flex;
}

.username-modal {
    position: relative;
    background: var(--black);
    border-radius: 4px;
    border: 1px solid var(--pink-primary);
    padding: 16px;
    max-width: 420px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.section-title {
    text-align: center;
}

#username-form {
    margin-bottom: 32px;
}

.username-form__input-group {
    display: flex;
    gap: 8px;
}

#username {
    width: 100%;
}

.username-modal__back-link {
    position: absolute;
    bottom: 8px;
    left: 16px;
    display: block;
    width: 32px;
    background: none;
    border: none;
}

.username-modal__back-link img {
    width: 100%;
}

.share-section {
    max-width: 1240px;
    margin-inline: auto;
}

.music-article,
.meme-article {
    margin-bottom: 32px;
}

.spotify-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.memes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.meme {
    max-width: 196px;
    width: 100%;
}
