*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

textarea {
    font-family: inherit;
    font-size: inherit;
}

/* variables */
:root {
    /* colors */
    --black: #1c1c1c;
    --grey-dark: #363636;
    --white: #f7f7ff;
    --pink-primary: #ed4f8a;
    --success: #2ecc71;
    --danger: #e74c3c;

    /* fonts */
    --ff-main: "Poppins", serif;
    --ff-title: "Poppins", serif;
    --ff-code: "Source Code Pro", mono;

    /* font sizes */
    --fz-12: 0.75rem;
    --fz-16: 1rem;
    --fz-18: 1.125rem;
    --fz-24: 1.5rem;
    --fz-32: 2rem;
}

/* general */
body {
    background: var(--black);
    color: var(--white);
    font-family: var(--ff-main);
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-title);
}

/* theme */
.main-title {
    font-size: var(--fz-32);
    margin-bottom: 16px;
}

.main-title__hint {
    font-size: var(--fz-24);
    font-weight: 200;
}

.section-title {
    font-size: var(--fz-24);
    margin-bottom: 16px;
}

.btn {
    display: block;
    border: none;
    padding: 8px 16px;
    background: none;
    transition: opacity 0.2s ease-out;
    border-radius: 4px;
    width: fit-content;
}

.btn--square {
    padding-inline: 8px;
}

.btn:hover {
    opacity: 0.8;
}

.btn--primary {
    background: var(--pink-primary);
    color: var(--black);
}

.btn--primary--outlined {
    background: var(--black);
    border: 1px solid var(--pink-primary);
    color: var(--pink-primary);
}

/* utils */
.color-pink {
    color: var(--pink-primary);
}

/* forms */
input:not([type="radio"], [type="checkbox"]),
textarea {
    padding: 4px 8px;
    background: var(--grey-dark);
    color: var(--white);
    border-radius: 4px;
    border: 1px solid var(--pink-primary);
}

.form-error {
    font-size: var(--fz-12);
    color: var(--danger);
}

/* header */
header {
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: var(--pink-primary);
    font-size: var(--fz-32);
    font-weight: 700;
}

.main-navigation {
    font-family: var(--ff-code);
    color: var(--pink-primary);
}

.navigation__link {
    font-size: var(--fz-24);
}

/* footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    color: var(--pink-primary);
}

.footer__logo {
    font-size: var(--fz-24);
    font-weight: 700;
}

.networks {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 87px;
}

.networks__elem {
    width: 32px;
}

.network__link img {
    width: 100%;
}
